name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Style checks
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.x
        run: ./mill all __.checkFormat "__.fix --check" __.docJar

  integration-kubernetes-v1-18:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Minikube and start Kubernetes v1.18.2
        uses: manusa/actions-setup-minikube@v1.0.2
        with:
          minikube version: v1.9.2
          kubernetes version: v1.18.2
          github token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test against Kubernetes v1.18.2
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.x
        run: ./mill __.test

  integration-kubernetes-v1-17:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Minikube and start Kubernetes v1.17.5
        uses: manusa/actions-setup-minikube@v1.0.2
        with:
          minikube version: v1.9.2
          kubernetes version: v1.17.5
          github token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test against Kubernetes v1.17.5
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.x
        run: ./mill __.test

  integration-kubernetes-v1-16:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Minikube and start Kubernetes v1.16.8
        uses: manusa/actions-setup-minikube@v1.0.2
        with:
          minikube version: v1.9.2
          kubernetes version: v1.16.8
          github token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test against Kubernetes v1.16.8
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.x
        run: ./mill __.test

  publish:
    needs: [checks, integration-kubernetes-v1-18, integration-kubernetes-v1-17, integration-kubernetes-v1-16]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Pull all history with tags for correct versionning
        run: git fetch --prune --unshallow
      - name: Publish
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v') || github.event_name == 'release'
        run: |
          echo "${{secrets.pgp_secret_key}}" > private.key
          gpg --batch --yes --import private.key
          rm private.key

          ./mill mill.scalalib.PublishModule/publishAll --sonatypeCreds ${{secrets.sonatype_credentials}} --publishArtifacts __.publishArtifacts --readTimeout 600000 --release true