name: CI

on:
  create:
    tags:
      - v*
  push:
    branches:
      - main
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Pull all history with tags for correct versioning
        run: git fetch --prune --unshallow
      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          java-version: 11.0.x
          distribution: zulu
      - name: Style checks
        run: ./mill __.checkStyle + __.docJar

  integration-kubernetes:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        kubernetes-version:
          - v1.32.1
          - v1.31.5
          - v1.30.9
          - v1.29.13
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Minikube and start Kubernetes
        uses: medyagh/setup-minikube@v0.0.8
        with:
          minikube-version: 1.35.0
          kubernetes-version: ${{ matrix.kubernetes-version }}
      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          java-version: 11.0.x
          distribution: zulu
      - name: Test against Kubernetes ${{ matrix.kubernetes-version }}
        run: ./mill __[3.3.4].test

  publish:
    needs:
      - checks
      - integration-tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Pull all history with tags for correct versioning
        run: git fetch --prune --unshallow
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: 11.0.x
          distribution: zulu
      - name: Publish
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v') || github.event_name == 'release'
        run: |
          echo "${{secrets.pgp_secret_key}}" > private.key
          gpg --batch --yes --import private.key
          rm private.key

          ./mill mill.scalalib.PublishModule/publishAll --sonatypeCreds ${{secrets.sonatype_credentials}} --publishArtifacts __.publishArtifacts --awaitTimeout 600000 --release true
